@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';


// .align-center{
    
//     max-width: 500px;
//     margin: 30px auto;
//     overflow: auto;
//     min-height: 300px;
//     border: 1px solid steelblue;
//     padding: 30px;
//     border-radius: 5px;
// }

.colo{
    
    background-color: red;
}

.hr1{
    width: 5%;
    // size: 15px;
    // // border: 5px;
    // color: red;

    color: #ddd;
    background-color: #ddd;
    height: 1px;
    border: none;

}

